body {
    color: #8b7969;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 20px;
    text-align: center;
    color: #8b7969;
}

.confirm__title {
    font-family: "Gelasio", serif;
    font-weight: normal;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #f2f2f2;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #f2f2f2;
    background-color: #8b7969;
    color: #fff;
    font-family: inherit;
    font-weight: normal;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    font-family: inherit;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.form__button-submit {
    padding: 12px 0;
    width: 20%;
    min-width: 150px;
    border: none;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
}

.form__button-edit {
    padding: 12px 0;
    width: 20%;
    min-width: 150px;
    border: none;
    background: #fff;
    color: #8b7969;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}